nav {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

nav a {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.list-of-books {
  padding: 1vw;
}

.book-desc, .user-desc,.book-desc-delete {
  margin-bottom: 1vw;
  padding: 1vw;
}

.author-name {
  margin-left: 1vw;
}

#addBook {
  margin: 1vw;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 3;
}

.book-op, .user-op {
  float: right;
}

.book-op .button:first-child,.user-op .button:first-child {
  margin-right: 1vw;
}

.hide {
  display: none;
}

.delete-book-user {
  position: absolute;
  right: 1vw;
  top: 1vw;
}

.list-of-unassigned-books .book-desc {
  cursor: pointer;
}

#bookListModal h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.user-op {
  margin-top: -5px;
}

.list-p {
  font-size: 1.8em;
  margin-bottom: 10px;
  margin-left: 10px;
}
